/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .form-table th{
    width: 50px;
 }
 .multi_coup_val{
   display: inline-block;
   max-width: 190px;
   padding-bottom: 20px;
 }